.content{
    margin-left: 250px;    
    padding: 20px;
}

.MobileHeader{
    display: none;    
}
@media (max-width: 768px){
    .content{
        margin-left: 0;    
        padding: 10px;
    }
    .MobileHeader{
        display: block;
    }
}

.sidebarContainer{
    
}